body {
    font: 1em "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    background-color: #bbc;
}
main {
    margin-top:2vw; 
    padding-right:4vw;
    margin-left:4vw;
    margin-right:4vw;
    background-color:#666;
    text-align: center;
}
main, footer p {
    padding-left: 3vw;
}
.menu-ul {
    font-size: 1.6em;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
    align-content: center;
    margin-right: 10vw;
}
.menu-li {
    float: right;
    margin-top: 2.1vw;
}
.menu-li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.8vw 2.6vw;
    margin-right: 2vw;
    text-decoration: none;
    /*background-color: #090;*/
}
.menu-li a:hover {
    background-color: #0c0;
}
.menu-li-main {
    float: left;
    margin-left:2vw;
    margin-top: 0.3vw;
}
#navbar {
    background: linear-gradient(darkgreen, green);
}
.current {
    background-color: #0d0;
}
.flex-onerow {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 1vw;
}
#contactform {
    text-align: left;
    line-height: 130%;
    font-size:1vw;
    color:black;
    }
#contactform label{
    color:white;
}
#contactform input, select{
    width: 12vw;
}
#contactform textarea{
    width: 18vw;
    height: 6vw;
    font-size: 0.8vw;
    resize: none;
}

.button-green {
    background: rgb(28, 184, 65);
}
#send {
    float:right;
    margin-right: 11vw
}
#bedrijf {
    display: none;
}

.eventfoto{
    position: relative;
    width: 32vw;
    height: 28vw;
    margin-left: 10%
}
.eventfoto .belowtext {
    opacity: 0;
    position: absolute;
    bottom: 5vw;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.eventfoto:hover .belowtext {
    opacity: 0.8;
}
.imagetext {
    opacity: 0;
    position: absolute;
    bottom: 7.5vw;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.eventfoto:hover .imagetext {
    opacity: 0.8;
}

.bellowbutton {
    margin-top: 3vw
}